
.addObjectPage {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #555;
    min-height: 90vh;
    height: fit-content;
}

.top_menu {
    width: 80%;
    padding-bottom: 1rem;
    height: 5rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}


.middle {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: start;
}

.userName {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.userName h2 {
    width: fit-content;
}

.addObjectForm {
    width: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.addObjectBox {
    width: fit-content;
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background: #e3f5f3;
}

.addObjectBox h3 {
    align-self: center;
}

.dataObject {
    width: 100%;
}

.addObjectBox input {
    height: 2rem;
    border-radius: 1rem;
    padding-left: 1rem;
}

.radioButtons label {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.radioButtons label span {
    padding-left: 1rem;
}

.saveWrap {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 3rem;
}

.saveButton {
    border: none;
    background: #5bee81;
    border-radius: 2rem;
    padding: 0.5rem;
    -webkit-box-shadow: 7px 7px 9px 7px rgba(143, 249, 174, 0.29);
    -moz-box-shadow: 7px 7px 9px 7px rgba(143, 249, 174, 0.29);
    box-shadow: 7px 7px 9px 7px rgba(143, 249, 174, 0.29);
}

.saveButton:active {
    position: relative;
    top: 1px;
}