.bottom {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    margin: 0 auto 0 auto;
    padding: 0;
}

.bottom div {
    height: fit-content;
    border-bottom: 1px solid #c9b5b5;
    padding: 0.3em;
    border-radius: 1rem;
}

.bottom div a {
    color: #624f4f;
}

.bottom div a:hover {
    color: #24b940;
}