.bottom {
    position: relative;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    max-height: 4rem;
    padding: 2rem 0 2rem 0;
}

.bottom div {
    height: fit-content;
    border-bottom: 1px solid #798c62;
    padding: 0.3em;
    border-radius: 1rem;
}

.bottom div a {
    color: #624f4f;
}

.bottom div a:hover {
    color: #24b940;
}