.bottom {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    max-height: 4rem;
    padding: 2rem 0 2rem 0;
}

.bottom div div {
    height: fit-content;
    border-bottom: 1px solid #798c62;
    padding: 0 1rem 0 1rem;
    border-radius: 1rem;
}

.bottom div div:hover {
}

.bottom div a {
    width: available;
    height: available;
    color: #7e5c5c;
}

.bottom div a:hover {
    color: #24b940;
}