@font-face {
    font-family: 'jura';
    src: url("../fonts/jura.ttf");
}

* {
    font-family: jura, sans-serif;
}

.main_contacts {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 80%;
    margin: 3rem auto 5rem auto;
    font-size: 1.2rem;
    font-weight: 600;
}

a {
    text-decoration: none;
}

.gen_director {
    width: 60%;
    background-color: #c7fff3;
    border-radius: 3rem;
    padding: 2rem;
    margin: 1rem 0 1rem 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

#gaziz_photo {
    width: 10rem;
}

.manager {
    width: 60%;
    background-color: #d3fdcf;
    border-radius: 3rem;
    padding: 2rem;
    margin: 1rem 0 1rem 0;
}

._back_button {
    text-decoration: none;
    display: flex;
    width: fit-content;
    background-color: #44c767;
    border-radius:1rem;
    border: 1px solid #18ab29;
    cursor: pointer;
    color:#ffffff;
    font-size: 1.3rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-shadow: 0 1px 0 #2f6627;
}

._back_button:hover {
    background-color:#5cbf2a;
}