@font-face {
    font-family: 'jura';
    src: url("../fonts/jura.ttf");
}

* {
    font-family: jura, sans-serif;
}

.contacts_page {
    display: flex;
    flex-flow: column;
    align-items: center;
}

a {
    text-decoration: none;
}

.gen_director {
    width: 60%;
    background-color: #c7fff3;
    border-radius: 3rem;
    padding: 2rem;
    margin: 1rem 0 1rem 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

#gaziz_photo {
    width: 10rem;
}

.manager {
    width: 60%;
    background-color: #d3fdcf;
    border-radius: 3rem;
    padding: 2rem;
    margin: 1rem 0 1rem 0;
}