a {
    text-decoration: none;
}

.navigation {
    position: absolute;
    top: 1rem;
    right: 1rem;
    box-sizing: border-box;
    border-radius: 3rem;
    height: 5rem;
    width: 10rem;
    display: flex;
    background-color: #d5f8f2;
    justify-content: space-between;
    transition: height 0.5s, width 0.5s;
    transition-delay: 0s, 0.75s;
    overflow: hidden;
}

.navigation.active {
    width: 25rem;
    height: 20rem;
    transition: width 0.5s, height 0.5s;
    transition-delay: 0s, 0.75s;
}

.navigation .userBX {
    box-sizing: border-box;
    position: relative;
    height: 5rem;
    width: 5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.navigation.active .userBX {
    width: calc(100% - 5rem);
    transition-delay: 0s;
}

.navigation .userBX .userName {
    white-space: nowrap;
    height: fit-content;
    padding: 0 0 0 1rem;
}

.navigation .userBX .imgUser {
    box-sizing: border-box;
    position: relative;
    min-width: 5rem;
    height: 5rem;
    overflow: hidden;
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    border: solid #fff 0.5rem;
}

.navigation .userBX .imgUser img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigation .menuToggle {
    position: relative;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation .menuToggle::before {
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 0.3rem;
    background: #555;
    transform: translateY(-10px);
    box-shadow: 0 10px #555;
    transition: 0.5s;
}

.navigation .menuToggle::after {
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 0.3rem;
    background: #555;
    transform: translateY(10px);
    transition: 0.5s;
}

.navigation.active .menuToggle::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 #555;
}

.navigation.active .menuToggle::after {
    transform: translateY(0px) rotate(-45deg);
}

.main_menu {
    position: absolute;
    width: 100%;
    height: fit-content;
    margin: 5rem 0 0 0;
    padding: 1rem 0 0 3rem;
}

.menu_ul li {
    height: 1.5rem;
    font-size: 1.5rem;
    list-style: none;
    margin: 1rem;
}

.menu_ul li a {
    display: flex;
    align-items: center;
    font-size: 1em;
    gap: 1rem;
    color: #555;
}

.menu_ul li a:hover {
    /*padding: 0.5rem 1rem 0.5rem 0;*/
    /*width: fit-content;*/
    /*box-shadow: inset 0px 0px 6px 12px rgba(0,0,0,0.1);*/
    color: #489a1d;
}

.menu_ul li a ion-icon {
    font-size: 2em;
}