@font-face {
    font-family: 'Jura-VariableFont_wght';
    src: url("../fonts/jura.ttf");
}

@font-face {
    font-family: 'verdana';
    src: url("../fonts/Verdana.ttf");
}

* {
    font-family: Jura-VariableFont_wght, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
}


.object_main_page_div, .search_result_page, .about_main_div,
.vacation_page, .requisites_page, .index_page, .contacts_page,
.account_page, .registration_page, .entryPage, .addObjectPage,
.admin_page, .moderating_page, .consider_appeal_page, .techSupportPage {
    min-width: 300px;
    max-width: 700px;
    margin: 3rem auto 3rem auto;
    border-radius: 2rem;
    padding: 1rem;
}
