
a {
    text-decoration: none;
}
._back_button {
    text-decoration: none;
    display: flex;
    width: fit-content;
    background-color: #44c767;
    border-radius:1rem;
    border: 1px solid #18ab29;
    cursor: pointer;
    color:#ffffff;
    font-size: 1.3rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-shadow: 0 1px 0 #2f6627;
}

._back_button:hover {
    background-color:#5cbf2a;
}

._back_button:active {
    position:relative;
    top:1px;
}