* {
    font-family: Jura-VariableFont_wght, sans-serif;
}

html, body {
    height: 100%;
}

.index_page {
    height: 90%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.top {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 0;
    height: fit-content;
    max-height: 5rem;
}

.yalArba {
    display: flex;
    flex-flow: column;
}

#arba {
    height: 3rem;
}

.middle {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.search {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: fit-content;
}

.addObject {
    position: relative;
    top: 5rem;
    width: fit-content;
    height: fit-content;
}