* {
    font-family: Jura-VariableFont_wght, sans-serif;
}

html, body {
    height: 100%;
}

.index_page {
    height: 90%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.top {
    display: flex;
    margin: 0;
    height: fit-content;
    max-height: 5rem;
    justify-content: space-between;
}

.yalArba {
    display: flex;
    flex-flow: column;
}

#arba {
    height: 3rem;
}

.middle {
    background: #555555;
    height: fit-content;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: end;
}

.search {
    background: #ff8b8b;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: fit-content;
}

.addObject {
    margin: 3rem;
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    padding: 0.2rem;
    border-radius: 1rem;
    background: #8bffea;
}