@font-face {
    font-family: 'jura';
    src: url("../fonts/jura.ttf");
}

* {
    font-family: jura, sans-serif;
}

.requisites_page {
    width: 80%;
    margin: 5rem auto 5rem auto;
    display: flex;
    flex-flow: column;
}
