@font-face {
    font-family: 'Jura-VariableFont_wght';
    src: url("../fonts/jura.ttf");
}

* {
    font-family: Jura-VariableFont_wght, sans-serif;
    margin: 0;
    padding: 0;
}

html, body, .main_search_page_div {
    height: 100%;
}

.main_search_page_div {
    max-width: 70%;
    margin: 5rem auto 0 auto;
    display: flex;
    flex-flow: column;
    align-content: space-around;
}

.menu_in_search_page {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #ff8b8b;
}

.search {
    display: flex;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: fit-content;
    margin-bottom: 1rem;
}


#logo {
    display: flex;
    width: 4rem;
    height: 4rem;
}

#search_input {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    height: 2.5rem;
    text-align: center;
    max-width: available;
    width: 30rem;
    min-width: fit-content;
}


#search_input::placeholder {
    padding: 1rem;
}

#search_button {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    width: 4rem;
    height: 4rem;
    background-image: url("../images/search.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.results {
    display: flex;
    flex-flow: column;
}

.object {
    width: available;
    height: 5rem;
    overflow: hidden;
    margin: 1rem 1rem;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    border-style: solid;
    border-width: 1px;
    border-color: #acffff;
}

.list_services {
    display: flex;
    width: 20%;
}

.short_description {
    display: flex;
    width: 60%;
}

.object_image {
    width: 20%;
    display: flex;
}

.list_services, .short_description, .object_image {
    border-color: #d7f6c9;
    border-style: solid;
    border-width: 1px;
}

._back_button {
    background-color: #44c767;
    border-radius:2rem;
    border: 1px solid #18ab29;
    display: flex;
    width: fit-content;
    align-self: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.9rem;
    padding:1rem 2rem;
}

._back_button:hover {
    background-color:#5cbf2a;
}

._back_button:active {
    position:relative;
    top:1px;
}