@font-face {
    font-family: 'Jura-VariableFont_wght';
    src: url("../fonts/jura.ttf");
}

* {
    font-family: Jura-VariableFont_wght, sans-serif;
    font-weight: 700;
}

.main {
    margin: 3rem;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3rem;
    justify-content: space-around;
}

.head_description {
    padding: 1rem;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    width: 50rem;
    background-color: #54ffe9;
}

.head_image img {
    width: 15rem;
    border-radius: 2rem;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.discovery_team {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: palegreen;
    border-radius: 3rem;
    padding: 1rem;
}

.delivery_team {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: #ff8b8b;
    border-radius: 3rem;
    padding: 1rem;
}

.footer {
    display: flex;
    justify-content: center;
    margin: 3rem;
}