* {
    font-weight: 700;
}

.vacation_page {
    margin: 3rem;
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3rem;
    justify-content: space-around;
}

.head_description {
    padding: 1rem;
    margin: 1rem;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #54ffe9;
}

.head_image img {
    width: 15rem;
    border-radius: 2rem;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.discovery_team {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: palegreen;
    border-radius: 3rem;
    padding: 1rem;
}

.delivery_team {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: #ff8b8b;
    border-radius: 3rem;
    padding: 1rem;
}

.footer {
    display: flex;
    justify-content: center;
    margin: 3rem;
}