@font-face {
    font-family: 'Jura-VariableFont_wght';
    src: url("../../fonts/jura.ttf");
}

* {
    font-family: Jura-VariableFont_wght, sans-serif;
    margin: 0;
    padding: 0;
}

.menu_in_search_page {
    width: 100%;
    max-height: 5rem;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    margin: 0 0 2rem 0;
}

.search {
    display: flex;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: fit-content;
    margin-bottom: 1rem;
}


#logo {
    display: flex;
    width: 4rem;
    height: 4rem;
}

#search_input {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    height: 2.5rem;
    text-align: center;
    max-width: available;
    width: 30rem;
    min-width: fit-content;
}


#search_input::placeholder {
    padding: 1rem;
}


.results {
    display: flex;
    flex-flow: column;
}

