<div class="userBX">
    <div class="imgUser">
        <img src="' + getPrefix() + 'images/profile.png" alt="Photo">
    </div>
    <p class="userName">Имя (логин)</p>
</div>
<div class="menuToggle"></div>
<div class="main_menu">
    <ul class="menu_ul">
        <li><a href="' + getPrefix() + 'HTML/accountPage.html">
            <ion-icon name="person-outline"></ion-icon>
            Аккаунт
        </a></li>
        <li><a href="#">
            <ion-icon name="log-in-outline"></ion-icon>
            Войти
        </a></li>
        <li><a href="#">
            <ion-icon name="person-add-outline"></ion-icon>
            Регистрация
        </a></li>
        <li><a href="#">
            <ion-icon name="help-outline"></ion-icon>
            Написать в тех поддержку
        </a></li>
        <li><a href="#">
            <ion-icon name="log-out-outline"></ion-icon>
            Выйти
        </a></li>
    </ul>
</div>