@font-face {
    font-family: 'Jura-VariableFont_wght';
    src: url("../../fonts/jura.ttf");
}

* {
    font-family: Jura-VariableFont_wght, sans-serif;
}

.menu_in_object_page {
    display: flex;
    flex-flow: row;
    width: 100%;
    max-height: 5rem;
    justify-content: space-between;
}

.menu_in_object_page .back_to_result_button {
    display: flex;
    align-items: center;
}

.object_page_middle_info {
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;
}

.price {
    display: flex;
    flex-flow: column;
    align-items: center;
}