
html, body {
    height: 100%;
    width: 100%;
}

.account_page {
    min-height: 90%;
    width: 90%;
    height: fit-content;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.top_menu {
    width: 100%;
    max-height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    margin: 0 0 2rem 0;
}

.accountObjects {
    width: 100%;
}