
.control {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: start;
    padding: 1rem 0 1rem 0;
}

.adminButton, .moderButton, .addObject {
    width: 100%;
    display: flex;
    flex-flow: row;
}

.adminButton {
    justify-content: center;
}

.moderButton {
    justify-content: end;
}

.addObject {
    justify-content: start;
}