.editDeleteBx {
    width: 100%;
    display: flex;
    flex-flow: row;
    height: 6rem;
    background: #54ffe9;
    margin: 0 0 1rem 0;
}

.editDeleteBx .editDeleteButton {
    padding: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.editDeleteBx .object {
    margin: 0;
}

.accountObjects .object .short_info .short_description {
    display: flex;
    flex-flow: column;
    justify-content: start;
}

.accountObjects .object .short_info .short_description .full_name_object {
    height: fit-content;
}

.accountObjects .object .short_info .short_description .type_object {
    height: fit-content;
}