.dialog {
    height: fit-content;
    width: fit-content;
    border-radius: 2rem;
}

.dialog form {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.dialog form input {
    margin: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
    background: #bfefeb;
}