html, body {
    width: 100%;
    height: 100%;
}

.admin_page {
    height: 90vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.top_menu {
    width: 100%;
    max-height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    margin: 0 0 2rem 0;
}

.account_info {
    align-self: start;
}

.verify_radio {
    height: fit-content;
}

.verify_radio form {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.verify_radio form label {
    display: flex;
    flex-flow: row;
    font-weight: 600;
    background: #d3dc86;
}

.verify_radio form label p {
    padding-left: 1rem;
}