.table {
    width: 100%;
}


.table  table {
    border: 1px solid #555;
    border-collapse: collapse;
    width: 100%;
    height: fit-content;
    background: #d3dc86;
}

th, tr, thead, td {
    border: 1px solid #555;
}
